@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 6rem;
}

:root{
  font-family: 'Jost'; 
  .swiper-button-next,
  .swiper-button-prev{
    color: hsla(211, 21%, 48%, 1);
  }
}


main{
  max-width: 1536px;
  margin: 0 auto;
  
}

.swiper-button-next{
  color: hsla(211, 21%, 48%, 1);
}

.swiper-button-prev{
  color: hsla(211, 21%, 48%, 1);
}

